<head>
</head>
<body>
<div class="container content">
<h1>Specific Audit</h1>

	<div class="col-md-offset-4 col-md-offset-4">
		<div class="well">
		<form method="POST">

		<h1>Accident: <input type="" name="accident" value="{{audit.accident}}"/></h1>
		<h1>Airprox: <input type="" name="airprox" value="{{audit.airprox}}" /></h1>
		<h1>Incident: <input type="" name="incident" value="{{audit.incident}}"/></h1>
		<h1>Infringement: <input type="" name="infringement" value="{{audit.infringement}}"/></h1>
		<h1>Occurrenceposition: <input type="" name="occurrenceposition" value="{{audit.occurrenceposition}}"/></h1>
		<h1>OptionFLALT: <input type="" name="optionFLALT" value="{{audit.optionFLALT}}"/></h1>

		<input type="submit" name="save" value="save">
		</form>
		<a class="btn btn-info" href="/edit/audit/{{audit._id}}">Edit</a>
		</div>
	</div>
</div>
</body>