<html>

<head>
  <title>Techstitution 4</title>
  <!--  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
  -->
</head>

<body>
  <div class="container content">
    <h1>Specific Audit</h1>
    <div class="col-md-offset-4 col-md-2">
      <div class="well">
        <p>Second official institutional partnership
           for #Techstitution with the
            “CAA - Civil Aviation Authority in Kosovo".
             We have officially signed our agreement on 29 
             June 2017 between CAA and Open Data Kosovo. 
             The main idea behind this digital solution
          will be to build a system of management data for 
          the Audit Inspection Database and digitize their occurrence reports via their official website. </p>

      </div>
    </div>
  </div>
  <script src="{{ url_for('static', filename='js/main.js') }}"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>

</html>